/* This is a single-line comment */

/* This is
a multi-line
comment */ 

body {
  background-color: lightblue;
  margin-left: 20px;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
}

.HRsep {
  display: block;
  text-align: left;
  margin-left:0;
  height: 3px;
  width: 85%;
  border-width: 0;
  color: gray;
  background-color: gray;
}
